<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block content1%}
        {% load static %} <!-- DONT FORGET '{% load static %}' BEFORE ADDING STATIC PAGES -->
        <link rel="stylesheet" type="text/css" href="{% static 'learning_logs/style.css' %}">
        {% endblock content1%}
    </head>
    <body>
        <!-- Add links to the respective pages-->
        <nav>
            <h1>Learning Log</h1>
                <!-- Each line says to generate a url matching the name of each page-->
                <div class="user">
                    <a href="{% url 'learning_logs:index' %}"><button>Home</button></a> -
                    <a href="{% url 'learning_logs:topics' %}"><button>Topics</button></a> -
                    <a href="{% url 'learning_logs:pizzerias' %}"><button>Pizzerias</button></a>
                </div>
                {% if user.is_authenticated %}
                    <!-- in django, there is 'user' variable that has .is_authenticated-->
                    <div class="user">
                        <p>Hello, {{user.username }}.</p>
                        <button><a href="{% url 'users:logout' %}">Log out</a></button>
                    </div>
                {% else %}
                <div class="user">
                    <button><a href="{% url 'users:register' %}">Register</a></button>
                    <button><a href="{% url 'users:login' %}">Log in</a></button>
                </div>

                {% endif %}
        </nav>

        {% block content %}{% endblock content %}

        <script src="" async defer></script>
    </body>
</html>