<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %} <!-- DONT FORGET '{% load static %}' BEFORE ADDING STATIC PAGES -->
        <link rel="stylesheet" href="{% static 'learning_logs/style.css' %}">

    </head>
    <body>
        <!-- Add links to the respective pages-->
        <nav>
            <h1>Learning Log</h1>
            <p>
                <!-- Each line says to generate a url matching the name of each page-->
                <a href="{% url 'learning_logs:index' %}"><button>Home</button></a> -
                <a href="{% url 'learning_logs:topics' %}"><button>Topics</button></a> -
                <a href="{% url 'learning_logs:pizzerias' %}"><button>Pizzerias</button></a>
            </p>
        </nav>

        {% block content %}{% endblock content %}

        <script src="" async defer></script>
    </body>
</html>