{% extends 'learning_logs/base.html' %} <!-- THIS IS A CHILD OF BASE.HTML-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- REMEMBER: url simply calls a function (a view) which returns reponse-->
        <!-- EVERYTHING WE ARENT INHERITING FROM BASE.HTML GOES IN BLOCK-->
        {% block content %} <!-- Define content block-->
        <h1>Learning Log </h1>
            <p>Learning Log helps you keep track of your learning, for any topic you're learning about.</p>
        {% endblock content %} <!-- end content block-->

        <script src="" async defer></script>
    </body>
</html>