{% extends 'learning_logs/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}
        <style>
            #btn-container {
                display: flex;
                justify-content: center;
                margin-top: 15px;
            }

            #add-new-pizzeria > h1{
                margin-bottom: 10px;
            }

            button {
                border-radius: 8px;
                padding: 5px 10px;
            }
        </style>
        
        <div id="add-new-pizzeria">
            <h1>Add a new pizzeria:</h1>
        </div>
        <form action="{% url 'learning_logs:new_pizzeria' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div id="btn-container">
                <button name="submit">Add pizzeria</button>
            </div>
        </form> 
        {% endblock content %}
        
        <script src="" async defer></script>
    </body>
</html>