{% extends 'learning_logs/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}
        <style>
            .no-bullet {
                list-style: none;
            }
        </style>
        <h1>{{pizzeria}}</h1>
            <div>
                <ul>
                {% for pizza in pizzas %}
                    <li>{{pizza}}</li>
                    <li>
                        <div class='btn'>
                            <button><a class="add-topic-or-pizza" href="{% url 'learning_logs:edit_pizza' pizza.id %}">Edit pizza</a></button>
                        </div>
                    </li>
                    {% empty %} <!-- if there are no toppings...-->
                        <li>There are no pizzas in this pizzeria!</li>
                {% endfor %}
                <li class='no-bullet'>
                    <div class='btn'>
                        <button><a class="add-topic-or-pizza" href="{% url 'learning_logs:new_pizza' pizzeria.id %}">Add new entry</a></button>
                    </div>
                </li>
                </ul>
            </div>
        {% endblock %}
        
        <script src="" async defer></script>
    </body>
</html>