{% extends 'learning_logs/base.html' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block content %}
            {% for pizzeria in pizzerias %}
            <!-- {{topping}} in double brackets means this is a template variable-->
                <li><a href="{% url 'learning_logs:topping' pizzeria.id %}">{{pizzeria}}</a></li>
                {% empty %}
                    <li>No pizzerias have been added yet.</li>
            {% endfor %}
        {% endblock content%}
        
        <script src="" async defer></script>
    </body>
</html>