* {
    font-family: sans-serif;
    margin: 0;
}

div, p, h1 {
    display: grid;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: #343A40;
    color: white;
    width: auto;
    margin-bottom: 30px;
}

nav *, button:hover {
    cursor: pointer;
}

button {
    background-color: #343A40;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}

button > a {
    color: white;
}

nav * {
    align-content: center;
}

p {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto auto auto 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.add-topic-or-pizza:visited {
    color: white;
}

* {
    text-decoration: none;
}

.link {
    color: blue;
}