* {
    font-family: sans-serif;
    margin: 0;
}

div, p, h1 {
    display: grid;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #343A40;
    color: white;
    width: auto;
    margin-bottom: 30px;
}

nav *, button:hover {
    cursor: pointer;
}

button {
    background-color: #343A40;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}

button > a {
    color: white;
}

nav * {
    align-content: center;
}

p {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto auto auto 10px;
    padding: 0 10px 0 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.add-topic-or-pizza:visited {
    color: white;
}

* {
    text-decoration: none;
}

.link {
    color: blue;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user * {
    display: flex;
    justify-content: center;
    align-items: center;
}   

.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introduction * {
    margin: 10px;
}

.learning-log {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
}

.container {
    display: flex;
    height: 50vh;
}

.content {
    display: grid;
}

.topic-list {
    display: flex;
    padding: 10px;
}

ul * {
    display: flex;
    width: 500px;
    margin: 10px;
    flex-direction: column;
}

.pizzas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.pizzas * {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topics {
    display: flex;
    flex-direction: column;
}

.entry {
    padding: 10px;
}

.topic {
    display: flex;
    justify-content: flex-start;
}